@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --font-padrao: 'Poppins', sans-serif;
    --verde-forte: #096421;
    --verde-cinza: #40523C;
    --verde-escuro: #2C442C;
    --cinza-claro: #BFC4A4;
    --cinza-branco: #E2DCBC;
}

* {
    font-family: var(--font-padrao);
}

body {
    margin: 0;
}

.menu-login {
    width: 100vw;
    height: 100vh;
    background: var(--verde-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda-login-imagem {
    width: 35vw;
}

.esquerda-login > h1 {
    text-align: center;
    font-size: 2.5vw;
    color: var(--cinza-branco);
}

.direita-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    background: var(--verde-cinza);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #2c442c31;
}

.card-login > h1 {
    color: #FEFEFE;
    font-weight: 800;
    margin: 0;
}

.textField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px ;
}

.textField > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #4a6045;
    color: #FEFEFE;
    font-size: 16px;
    box-shadow: 0px 10px 40px #2c442c4e;
    outline: none;
    box-sizing: border-box;
}

.textField > input::placeholder {
    color: var(--cinza-claro);
}

.textField > label {
    color: #FEFEFE;
    margin-bottom: 10px;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--verde-forte);
    transition: all .5s;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #096421aa;
}

.btn-login:hover {
    background: var(--verde-forte);
    color: #FEFEFE;
}

.btn-registrar {
    width: 50%;
    padding: 16px 0px;
    margin: 0 25px 25px 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--verde-forte);
    transition: all .5s;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #096421aa;
}

.btn-registrar-mobile {
    width: 100%;
    padding: 16px 0px;
    margin: 0 25px 25px 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--verde-forte);
    transition: all .5s;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #096421aa;
}

.btn-registrar:hover {
    background: var(--verde-forte);
    color: #FEFEFE;
}

/* Box-Registro configurações MODAL*/
.box-registro {
    position: absolute;
    top: 30%;
    left: 7%;
    border-radius: 12px;
    width: 330px;
    margin: 0 auto;
    text-align: center;
    padding: 18px;
    background: #FCFCFC;
    /* display: none; */
}

.circle .registro-head {
    display: inline-block;
    width: 18px;
    height: 20px;
    margin: 0 auto;
    margin-top: 6px;
    border-radius: 50%;
    left: 0;
    right: 0;
    background: #fff;
}

.circle .registro-body {
    display: inline-block;
    width: 35px;
    margin: 0 auto;
    margin-top: 26px;
    height: 25px;
    border-radius: 50%;
    left: 0;
    right: 0;
    background: #fff;
}

.fechar {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    color: tomato;
    font-size: 34px;
    transition: ease-in-out .2s;
    cursor: pointer;
}

.fechar:hover {
    background-color: red;
}

.registrar-box {
    margin-top: 43px;
}

label {
    display: block;
    position: absolute;
    font-size: 18px;
    color: rgb(169, 171, 170);
    margin-top: -70px;
    padding-left: 18px;
    text-align: left;
    pointer-events: none;
    transition: .4s;
}

input {
    width: 95%;
    height: 42px;
    margin: 10px 1px 28px 1px;
    padding: 9px;
    font-size: 18px;
    color: #555;
    border: rgb(65, 118, 97) 1px solid;
    outline: none;
    border-radius: 5px;
}

input:focus~label,
input:valid~label {
    margin-top: -115px;
    padding-left: 8px;
    color: #026948;
    font-weight: 500;
}

.circle {
    position: absolute;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -35px;
    right: 0;
    left: 0;
    background: rgba(1, 170, 133);
    border: 2px #fff solid;
}

.box-registro .circle, .box-registro span {
    display: inline-block;
    position: absolute;
}

.box-registro span {
    height: 2px;
    background: rgb(1, 170, 133);
}


/* Tratamento de Media Query */
@media only screen and (max-width: 2600px) {
    .btn-registrar-mobile {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .menu-login {
        flex-direction: column;
    }
    .esquerda-login > h1 {
        display: none;
    }
    .btn-registrar {
        display: none;
    }

    .esquerda-login {
        width: 100%;
        height: auto;
    }

    .direita-login {
        width: 100%;
        height: auto;
    }
    
    .btn-registrar-mobile {
        display: block;
    }
}